/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #90EAC7;
}

body div{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#testo *{
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

#nomecognome , #colore , #classe {
    background-color: rgb(189, 135, 67);
    border: 2px solid red;
    border-radius: 30px;
}

