/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #90EAC7;
    font-size: 20px;
    text-align: center;
}

#testo *{
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

#nomecognome , #colore , #classe {
    background-color: rgb(189, 135, 67);
    border: 2px solid red;
    border-radius: 30px;
}

#nomecognome {
    font-size: 30px;
}

#colore {
    font-size: 20px;
}

#classe {
    font-size: 10px;
}


